.jumbotron {
    background-image: url(https://cdn1.vectorstock.com/i/1000x1000/12/70/perspective-background-of-abstract-city-map-vector-1471270.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: blue;
    text-shadow: 2px 2px white;
    font-size: 75px;
    font-weight: bolder;
    }
html {
    background: white; /* fallback color */
    background: linear-gradient( to bottom, white, blue);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    }
body {
    background: white; /* fallback color */
    background: linear-gradient( to top, blue, white);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    }
 #findLocation {
    background: rgb(49, 75, 224);
    color: white;
    align-content: center;
    margin: auto;
    padding: 10px;
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
 }
 .text-center {
    font-size: 50px;
    font-weight: bolder;
 }
h2 {
    text-align: center;
    font-size: 24px;
}
.addressBox {
    margin: auto;
    width: 80%;
    padding: 10px;
  }
#addressTitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    width: 100%;
 
}
.cardbody {
    margin-left: 20px;

}

#map {
    height: 500px;
    width: 500px;
  }
